.ListItemContainer{
    border-top: 3px solid #f3f3f3;
    display: flex;
    padding: 1.7vh 0;
}
.TextContainer{
    align-items: center;
    padding-left: 1vh;
    text-align: left;
}
.ListItemImg{
    width:9vh;
    height: 9vh;
    align-self:flex-start;
}
.ArtistName{ 
    font-size: 0.8rem;
    font-weight: 400;
    margin:0;
    display: inline;
}
.SongName{
    font-size: 1.1rem;
    align-self:flex-start;
    margin:0;
}
